[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
vcrpy = "*"
jupyter = "*"
black = "*"

[packages]
requests = "*"
pandas = "*"
tqdm = "*"
pyjwt = "*"
matplotlib = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
